<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<body>

<section class="user-panel-categories" th:fragment="categories">
    <ul>
        <li th:classappend="${heading == 'Moje okazy'} ? 'active'"><a href="#" th:href="@{/panel/moje-okazy}">Moje okazy</a></li>
        <li th:classappend="${heading == 'Skomentowane okazy'} ? 'active'"><a href="#" th:href="@{/panel/skomentowane}">Skomentowane</a></li>
        <li th:classappend="${heading == 'Ocenione okazy'} ? 'active'"><a href="#" th:href="@{/panel/ocenione}">Ocenione</a></li>
        <li th:classappend="${heading == 'Polubione okazy'} ? 'active'"><a href="#" th:href="@{/panel/polubione}">Polubione</a></li>
    </ul>
    <ul>
        <li th:classappend="${heading == 'dziennik polowow'} ? 'active'"><a href="#" th:href="@{/panel/dziennik-polowow}">Dziennik połowów</a></li>
        <li  th:classappend="${heading == 'edycja konta'} ? 'active'"><a href="#" th:href="@{/panel/edycja-konta}">
            Edycja konta</a></li>
    </ul>
</section>
</body>
</html>