<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Zarządzanie użytkownikami</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
  <div th:replace="~{fragments/admin-panel-categories :: categories}"></div>

  <p class="notification" th:if="${notification}" th:text="${notification}">
    Belka z powiadomieniami
  </p>

  <h2 class="list-heading">Wyszukaj użytkownika po mailu lub nicku</h2>
  <form class="form-users" action="#" th:action="@{/admin/szukaj-uzytkownika}">
    <input type="text" name="userFind" placeholder="nick / email">
    <button type="submit">Szukaj</button>
  </form>

  <div th:if="${users}">
  <h4 class="list-heading" th:text="${users.isEmpty()? 'Brak wyszukanych użytkowników' : 'Wyszukani użytkownicy'}">
    Wyszukani użytkownicy</h4>
    <ul class="users-list">
      <li th:each="user : ${users}">
        <p th:text="${user.nick}">Nick</p>
        <p th:text="${user.email}">Email</p>
        <a href="#" th:href="@{|/admin/uzytkownik/${user.id}|}">Edytuj</a>
        <a href="#" th:href="@{|/admin/usun-uzytkownika/${user.id}|}"
           onclick="return confirm('Czy na pewno chcesz usunąć ?')">Usuń</a>
      </li>
    </ul>
  </div>


</main>
</body>
</html>