<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Edycja danych użytkownika</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <div th:replace="~{fragments/user-panel-categories :: categories}"></div>

    <p class="notification" th:if="${notification}" th:text="${notification}">
        Belka z powiadomieniami
    </p>

    <div class="user-edit">

        <div class="admin-user-item-edit">
            <form action="#" th:action="@{|/admin/edytuj-nick/${user.id}|}" method="post">
                <label th:text="|Nick: ${user.nick} - |" for="nick"></label>
<!--            <p th:text="|Nick: ${user.nick}&nbsp|"> Nick: </p>-->
                <input type="text" minlength="3" id="nick" name="nick" placeholder="nowy nick" required>
<!--            <a href="#" th:href="@{|/admin/edytuj-nick/${user.id}|}"> - Zmień</a>-->
                <button type="submit" onclick="return confirm('Czy na pewno chcesz zmienić nick ?')">Zmień</button>
            </form>
        </div>
      <div class="admin-user-item-edit">
          <form action="#" th:action="@{|/admin/edytuj-email/${user.id}|}" method="post">
              <label th:text="|Email: ${user.email} - |" for="email"></label>
<!--        <p th:text="|Email: ${user.email}&nbsp|">Email</p>-->
<!--        <a href="#" th:href="@{|/admin/edytuj-email/${user.id}|}"> - Zmień</a>-->
              <input type="email" id="email" name="email" placeholder="nowy login" required>
              <button type="submit" onclick="return confirm('Czy na pewno chcesz zmienic email ?')">Zmień</button>
          </form>
      </div>
        <div class="admin-user-item-edit">
            <form action="#" th:action="@{|/admin/edytuj-haslo/${user.id}|}" method="post">
<!--          <p>Hasło: ***** &nbsp</p>-->
<!--          <a href="#" th:href="@{|/admin/edytuj-haslo/${user.id}|}"> - Zmień</a>-->
                <label th:text="|Hasło: *** - |" for="password"></label>
                <input type="password" minlength="8" id="password" name="password" placeholder="nowe hasło" required>
                <button type="submit" onclick="return confirm('Czy na pewno zmienić hasło ?')">Zmień</button>
            </form>
        </div>
       <div class="admin-user-item-edit">
               <p th:text="${user.activ} ? 'Konto aktywne&nbsp' : 'Konto nieaktywne&nbsp'"></p>
               <a href="#" th:href="${user.activ} ? @{|/admin/dezaktywuj/${user.id}|} : @{|/admin/aktywuj/${user.id}|}"
                  th:text="${user.activ} ? ' - Dezaktywuj' : ' - Aktywuj'"> - Zmień</a>
       </div>
        <div class="admin-user-item-edit">
          <p th:text="|Role: ${user.getRoles()}|">Role</p>
        </div>
        <div class="admin-user-item-edit">
            <p th:text="${user.isBlocked()} ? 'User zablokowany&nbsp' : 'Brak blokady&nbsp'"></p>
            <a  href="#" th:href="${user.isBlocked()} ? @{|/admin/unblock/${user.id}|} : @{|/admin/block/${user.id}|}"
                th:text="${user.isBlocked()} ? ' - Odblokuj' : ' - Zablokuj'"></a>
        </div>

    </div>

</main>
</body>
</html>