<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Pojedynczy okaz</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <p class="notification" th:if="${notification}" th:text="${notification}">
        Belka z powiadomieniami
    </p>

    <div class="fish-title">
        <h1 class="fish-detail-title" th:text="${fish.title}">Tytuł okazu</h1>
    </div>

    <section class="fish">
        <div class="fish-details">
            <img src="../static/img/empty1.jpg" th:src="@{|/photos/${fish.photos.get(0)}|}" alt="Zdjęcie ryby"
                 class="fish-detail-photo">
            <div class="fish-details-info">
                <!--                <h1 class="fish-detail-title" th:text="${fish.title}">Tytuł okazu</h1>-->
                <p class="fish-detail-item">Gatunek: <a href="#"
                                                        th:href="@{|/gatunek/${fish.fishType}|}"
                                                        th:text="${fish.fishType}">Karp</a>
                </p>
                <p class="fish-detail-item"
                   th:text="${fish.weight} ? 'Waga: '+${fish.weight}+'kg' : 'Waga: Brak'">Waga: 20 kg</p>
                <p class="fish-detail-item"
                   th:text="${fish.length} ? 'Długość: '+${fish.length} +'cm' : 'Długość: Brak'">Długość: 90 cm</p>
                <p class="fish-detail-item"
                   th:text="${!fish.bait.isEmpty()} ? 'Przynęta: '+${fish.bait} : 'Przynęta: Brak'">Przynęta:
                    kukurydza</p>
                <p class="fish-detail-item"
                   th:text="${!fish.fishingMethod.isEmpty()} ? 'Metoda połowu: '+${fish.fishingMethod} : 'Metoda połowu: Brak'">
                    Metoda połowu: Grunt</p>
                <p class="fish-detail-item"
                   th:text="${!fish.fishingSpot.isEmpty()} ? 'Nazwa łowiska: ' +${fish.fishingSpot} :'Nazwa łowiska: Brak'">
                    Nazwa
                    łowiska: Mocate</p>
                <p class="fish-detail-item"
                   th:text="|Data dodania: ${#temporals.format(fish.dateAdded, 'dd-MM-yyyy')}|"></p>

                <p class="fish-detail-item">Autor:
                    <a href="#" th:href="@{|/uzytkownik/${fish.author}|}"
                       th:text="${fish.author}">Autor</a>
                </p>
            </div>
        </div>
        <div class="fish-favorite">

            <a href="#" th:href="@{|/admin/usun/${fish.id}|}" sec:authorize="hasRole('ADMIN')" class="admin-delete">
                Usuń okaz
            </a>
            <a th:if="${edit}" href="#" th:href="@{|/okaz/edytuj/${fish.id}|}" class="admin-delete">
                Edytuj okaz
            </a>

<!--            <a sec:authorize="!hasRole('ADMIN')" th:if="${fish.author}==${currentUserNick}" href="#" th:href="@{|/okaz/edytuj/${fish.id}|}" class="admin-delete">-->
<!--                Edytuj swój okaz-->
<!--            </a>-->
<!--            <a sec:authorize="hasRole('ADMIN')" href="#" th:href="@{|/okaz/edytuj/${fish.id}|}" class="admin-delete">-->
<!--                Edytuj okaz-->
<!--            </a>-->

<!--            <a th:if="${!@favorite.isExist(fish)}" href="#" th:href="@{|/favorite/add/${fish.id}|}">-->
<!--                <i class="fa-regular fa-heart favorite-icon"></i>-->
<!--                Dodaj do ulubionych-->
<!--            </a>-->
<!--            <a th:if="${@favorite.isExist(fish)}" href="#" th:href="@{|/favorite/delete/${fish.id}|}">-->
<!--                <i class="fa-solid fa-heart favorite-icon"></i>-->
<!--                Usuń z ulubionych-->
<!--            </a>-->

            <a th:if="${!favorites.contains(fish)}" href="#" th:href="@{|/favorite/add/${fish.id}|}">
                <i class="fa-regular fa-heart favorite-icon"></i>
                Dodaj do ulubionych
            </a>
            <a th:if="${favorites.contains(fish)}" href="#" th:href="@{|/favorite/delete/${fish.id}|}">
                <i class="fa-solid fa-heart favorite-icon"></i>
                Usuń z ulubionych
            </a>

        </div>
        <div class="fish-rating-container fish-section">
            <h2 class="fish-section-heading-rating" th:text="|Średnia ocen: ${fish.ratingAvg}|">Średnia ocen: 4.0</h2>
            <div>
                <p th:text="|Liczna ocen: ${fish.ratingCount}|">Liczba ocen: 134</p>
                <p th:text="|Ilość lików: ${fish.likedUserEmails.size()}|">Ilość lików: 134</p>
            </div>

            <form action="#" th:action="@{/ocen-rybe}" class="fish-rating-form" method="post"
                  sec:authorize="isAuthenticated()">
                <!-- Identyfikator filmu, na który głosujemy-->
                <p>Twoja ocena</p>
                <input type="hidden" name="fishId" th:value="${fish.id}">
                <div class="fish-rating-buttons">
                    <button class="fish-rating-button" name="rating" th:value="${i}"
                            th:each="i : ${#numbers.sequence(1,5)}">
                        <i class="fa-star" th:classappend="${i > currentRating ? 'fa-regular' : 'fa-solid' }"></i>
                    </button>
                </div>
            </form>
            <p sec:authorize="!isAuthenticated()"><a href="#" th:href="@{/login}">Zaloguj się</a>, aby oddać głos</p>
        </div>

    </section>
    <section class="fish-section">
        <h2 class="fish-section-heading">Opis</h2>
        <p class="fish-description"
           th:text="${!fish.description.isEmpty()} ? ${fish.description} : 'Brak opisu'">Opis okazu.</p>
    </section>
    <section class="fish-section">
        <h2 class="fish-section-heading">Galeria zdjęć</h2>
        <div class="fish-gallery-container">
            <a th:each="i: ${#numbers.sequence(0, fish.photos.size()-1)}" href="#"
               th:href="@{|/photos/${fish.photos.get(i)}|}">
                <img src="#" th:src="@{|/photos/${fish.photos.get(i)}|}" alt="Zdjęcie ryby" class="fish-gallery-photo">
            </a>
        </div>
    </section>
    <section class="comments-section">
        <h2 class="fish-section-heading">Komentarze</h2>
        <div class="fish-comments-container">
            <ul class="comments-list">
                <li class="comment" th:each="comment: ${comments}">

                    <p class="comment-nick"> Autor: <a href="#" th:href="@{|/uzytkownik/${comment.userNick}|}"
                                                th:text="${comment.userNick}">Autor</a>
                    </p>

                    <p class="comment-content" th:text="${comment.content}">Treść komentarza</p>
                    <p class="comment-date" th:text="|Dodano: ${#temporals.format(comment.dateAdded, 'dd-MM-yyyy')}|">
                        Data dodania</p>
                    <a href="#" th:href="@{|/admin/usun-komentarz/${comment.id}|}" class="admin-delete"
                       sec:authorize="hasRole('ADMIN')">Usuń</a>
                </li>
            </ul>
            <div th:if="${comments.size() >= 5}" class="show-comments">
                <a href="#"
                   th:href="${comments.size() == 5} ? @{|/okaz/${fish.id}?commentsSize=all|} : @{|/okaz/${fish.id}|}"
                   th:text="${comments.size() == 5} ? 'Pokaż więcej komentarzy' : 'Pokaż mniej komentarzy'"></a>
            </div>

            <p sec:authorize="!isAuthenticated()"><a href="#" th:href="@{/login}">Zaloguj się</a>, aby dodać komentarz
            </p>
            <form sec:authorize="isAuthenticated()" class="form-comment" action="#" th:action="@{/dodaj-komentarz}"
                  method="post">
                <h4 class="fish-section-heading">Dodaj komentarz</h4>
                <textarea id="content" name="content" cols="30" rows="5" placeholder="Treść komentarza"></textarea>
                <input type="number" name="id" hidden th:value="${fish.id}">
                <button class="form-button-comment" type="submit">Dodaj</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>