<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Wyszukiwarka okazów</title>
</head>
<body>
  <div class="container">
    <main class="main-content" layout:fragment="content">

      <h1 class="list-heading">Wyszukaj okazy</h1>

      <form action="#" th:action="@{/search}" method="get" class="form">
        <label for="search">Czego szukasz ? </label>
        <input type="text" id="search" name="search" required placeholder="Np. wielki karp">
        <button type="submit" class="form-button">Suzkaj</button>
      </form>

    </main>
  </div>
</body>
</html>