<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Lista gatunków</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h1 class="list-heading">Gatunki ryb</h1>
    <h3 class="list-description">Wybierz gatunek - zobaczysz piękne okazy </h3>

    <ul class="types-list">
        <li th:each="type: ${types}">
            <a href="#"
               th:href="@{|/gatunek/${type.name}|}"
               th:text="${type.name}">Karp</a>
        </li>
    </ul>
</main>
</body>
</html>