<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edycja konta użytkownika</title>
</head>
<body>
  <main class="main-content" layout:fragment="content">
    <div th:replace="~{fragments/user-panel-categories :: categories}"></div>

    <p class="notification" th:if="${notification}" th:text="${notification}">
      Belka z powiadomieniami
    </p>

    <div class="user-edit">

      <div class="admin-user-item-edit">
        <p th:text="|Login do konta: ${user.email}|">Email</p>
      </div>

      <div class="admin-user-item-edit">
        <form action="#" th:action="@{/panel/edycja-konta/edytuj-nick}" method="post">
          <label th:text="|Nick: ${user.nick} - |" for="nick"></label>
          <input type="text" minlength="3" id="nick" name="nick" placeholder="nowy nick" required>
          <button type="submit" onclick="return confirm('Czy na pewno chcesz zmienić nick ?')">Zmień</button>
        </form>
      </div>

      <div class="admin-user-item-edit">
        <form action="#" th:action="@{/panel/edycja-konta/edytuj-haslo}" method="post">
          <label th:text="|Hasło: *** - |" ></label>
          <input type="password" minlength="8"  name="password1" placeholder="nowe hasło" required>
          <input type="password" minlength="8" name="password2" placeholder="powtórz hasło" required>
          <button type="submit" onclick="return confirm('Czy na pewno chcesz zmienić hasło ?')">Zmień</button>
        </form>
      </div>

    </div>

  </main>
</body>
</html>